.dropdown-menu{
    text-indent: 30px;
}

.data-table th{
    text-align: center;
}

.data-table td{
    text-align: center;
}

.graph-holder div {
  width: 100%;
  padding-bottom: 56.25%; 
  text-align: center;
}
